.welcome-title{
	color: navy;
	text-align: center;
	margin: 0 30% 15px;
}

.welcome-text{
	color: navy;
	text-align: center;
	margin: 0 30%;
	line-height: 1.3em;
}

.country-table-div{
	position: block;
	width: 1120px;
	height: 700px;
	overflow: scroll;
	
}

.country-table{
	border-collapse: collapse;
	margin-top: 30px;
}

.country-table th{
	padding: 4px;
}

.country-table td{
	border: 1px solid black;
	padding: 4px;
	font-family: sans-serif;
	text-align: center;
}

td.name, th.name{
	width: 275px;
}

.country-table .code{
	width: 60px;
}

.country-table .capital{
	width: 230px;
}

.country-table .area{
	width: 140px;
}

.country-table .population{
	width: 130px;
}
.country-table .continent{
	width: 200px;
}

sup{
	position: relative;
	top: -0.4em;
	vertical-align: top;
	font-size: 0.8em;
}

th{
	font-family: Courier, sans-serif;
	font-size: 1.2em;
	line-height: 1.5em;
	border: 1px solid black;
}

thead{
	top: 100px;
	min-width: 1100px;
	display: table-header-group;
	z-index: 0;
	position: fixed;
	background: rgba(255,255,255, 1);
}

tbody{
	position: absolute;
	top: 146px;
	display: block;
	width: 1120px;
	height: 500px;
	overflow: scroll;
	padding: 0px;

	border: 2px solid black;

}

tr.table-body:nth-child(even){
	background-color: #DDD;
}

tr.table-body:nth-child(odd){
	background-color: #9CF;
}

tr.table-body:hover{
	background-color: #FDD;
}

.site-title{
	font-family: Courier, serif;
	color: #9CF;
	background-color: navy;
	border: 7px solid #9CF;
	border-radius: 15px;
	margin: 0px auto 20px auto;
	width: 95%;
	z-index: 1;
	position: fixed;
}

.site-title h1{
	margin: 20px 20px;
	text-align: center;
}

.button-nav li{
	list-style: none;
}

.button-nav button{
	font-size: 1em;
}

.welcome{
	top: 200px;
	font-family: Courier, sans-serif;
}


.countries-button{
	position: absolute;
	top: 400px;
}

.center{
	position: absolute;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); 
}

.test{
	position: absolute;
	top: 150px;
	font-size: 30px;
	color: #AAF;
}

.info-panel{
	position:absolute;
	top: 100px;
	margin: 0 10%;
	border: 7px solid #9CF;
	border-radius: 15px;
	width: 80%;
	background-color: #CCC;
}

h1.country-name{
	font-family: Courier, serif;
	color: navy;
	padding: 20px;
}

.neighbour-name{
	color: #090;
}

.info-panel p{
	font-family: sans-serif;
	color: navy;
	padding: 6px 20px;
	line-height: 1.3em;
}

img.map{
	display: block;
	max-width: 60%;
	max-height: 800px;
	text-align: center;
	padding: 5px;
	background-color: #FFF;
	border: 2px solid black;
	margin: 10px auto;

}

img.flag{
	float: right;
	width: 200px;
	border: 2px solid black;
	margin: 20px;
}

.nav-buttons button{
	font-size: 1em;
	margin: 20px;
	padding: 8px;
}

.nav-buttons{
	text-align: center;
}

.animate-view.ng-enter, .animate-view.ng-leave{
	transition: 0.6s linear all;
}

.animate-view.ng-enter{
	position: absolute;
	left: -1500px;
	width: 100%;
	opacity: 0;
}

.animate-view.ng-enter.ng-enter-active{
	position: absolute;
	left: 0px;
	width: 100%;
	opacity: 1;
}

.animate-view.ng-leave{
	position: absolute;
	left: 0px;
	width: 100%;
	opacity: 1;
}

.animate-view.ng-leave.ng-leave-active{
	position: absolute;
	left: 1500px;
	width: 100%;
	opacity: 0;
}

.map{
	opacity:0;
}
.notLoading.map{
	opacity: 1;
	transition: 1s linear all;
}


.flag{
	opacity: 0;
}

.notLoading.flag{
	opacity: 1;
	transition: 1s linear all;
}

